* {
  background-color: black;
  color: white;
}

.update {
  margin: auto;
  width: 40%;
  padding: 10px;
  background: #000000;
  box-shadow: 0 0 20px 0 rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
